#clock{
    width: 400px;
    height: 400px;
    border-radius: 80%;
    margin: 20px auto;
    border: 5px solid black;
    margin: 20px auto;
    position: relative;
}

#minute{
    width: 6px;
    height: 140px;
    background: darkslategray;
    margin-left: 196px;
    margin-top: 55px;
    animation: linesGoWee 3600s infinite linear;
    position: absolute;
}

#hour{
    width: 8px;
    height: 100px;
    background: black;
    margin-left: 195px;
    margin-top: 106px;
    animation: linesGoWee 43200s infinite linear;
    position: absolute;
}

#second{
    width: 4px;
    height: 175px;
    margin-left: 198px;
    margin-top: 30px;
    background: gray;
    animation: linesGoWee 60s infinite linear;
    position: absolute;
}

#twelve{
    font-size: 36px;
    font-weight: 700;
    margin-top: -30px;
    margin-left: 183px;
    position: absolute;
}

#three{
    font-size: 36px;
    font-weight: 700;
    margin-left: 375px;
    margin-top: 150px;
    position: absolute;
}

#six{
    font-size: 36px;
    font-weight: 700;
    margin-top: 145px;
    margin-left: 10px;
    position: absolute;
}

#nine{
    font-size: 36px;
    font-weight: 700;
    margin-left: 195px;
    margin-top: 320px;
    position: absolute;
}

@keyframes linesGoWee {
    0% {
        transform-origin: center bottom;
        transform: rotate(0);
    }
    100%{
        transform-origin: center bottom;
        transform: rotate(360deg);
    }
}